<div class="header">
  <div class="nav navbar pull-right">
    <h3 class="btn btn-default" id="child1">About</h3>
  </div>
  <div class="nav navbar pull-right">
    <h3 class="btn btn-default" id="child2">Links</h3>
  </div>
</div>
